extends ../layout

block subhead

block content
  .maindiv
    section.height-100.bg--dark.text-center
      .container.pos-vertical-center
        .row
          .col-md-12
            h1.h1--large 500
            p.lead An unexpected error has occured preventing the page from loading.
            a(href='/') Go back to home page

block footerJS
