extends ../../layout

block subhead

block content
  .maindiv
    section.height-100.bg--dark.text-center
      .container.pos-vertical-center
        .row
          .col-md-12
            h1.h1--large ACTIVATE ACOUNT
            p.lead Please, check your inbox to activate your account
            a(href='/') Go back to home page

block footerJS
