extends ../../layout

block subhead

block content
  section.cover.unpad--bottom.switchable.switchable--switch.bg--secondary.text-center-xs(style="padding:0px")
    .container
      .row.align-items-center.justify-content-around
        .col-md-6.col-lg-5.mt-0
          h1
            | Activation Successful
          p.lead
            | Thank you for activating Printeria Account
          a.btn.btn--primary.type--uppercase(href='/')
            span.btn__text
              | Go back to home page
        .col-md-6
          img(alt='Image', src='/Stack 2.0.2/img/avatar-large-3.png')

        
block footerJS

