// Modal
#recipe_modal_name.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Recipe
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        form.ng-pristine.ng-valid
          .row(style='margin-right: 10px; margin-left: 10px;')
            .col-md-12
              h5 There is already a recipe with that name, choose another one:
              br
              input.ng-pristine.ng-untouched.ng-valid.ng-empty(type='text', placeholder='Name', ng-model='recipe_modal_name')
      .modal-footer(style='justify-content: center')
        //- section(style="padding:10px 0px;" ng-show="show_error2")
        //- .alert.alert-mini.alert-danger.margin-bottom-30
        //-   strong Oh snap!
        //-   |   Incorrect!

        //ng-click="saveRecipeFromRecipe()"

        button.btn.btn--primary.type--uppercase(type='button', data-dismiss='modal', ng-click="saveRecipe()", style='color: white; font-weight: 900; min-width: 200px;') Confirm

