// Modal
#ModalAddPart.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title NewPart
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        form.ng-pristine.ng-valid(style='margin: auto;idth: 100%;')
          .row(style='\
          height: 100%;')
            .col-md-3
              // Button trigger modal
              button.btn(type='button', data-toggle='modal', data-target='#ModalChooseP', style='\
              height: 100%; width:100%') Promoters
            .col-md-3
              // Button trigger modal
              button.btn(type='button', data-toggle='modal', data-target='#ModalChooseR', style='\
              height: 100%; width:100%') RBS
            .col-md-3
              // Button trigger modal
              button.btn(type='button', data-toggle='modal', data-target='#ModalChooseC', style='\
              height: 100%; width:100%') CDS
            .col-md-3
              // Button trigger modal
              button.btn(type='button', data-toggle='modal', data-target='#ModalChooseT', style='\
              height: 76%; width:100%') Terminators

