// Modal
#ModalAddRbs.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title RBS
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        form.ng-pristine.ng-valid
          .row(style='margin-right: 10px; margin-left: 10px;')
            .col-md-12(style='margin-bottom: 12px;')
              h5 Name:
              input.ng-pristine.ng-untouched.ng-valid.ng-empty(type='text', placeholder='Name', ng-model='rbs.name')
            .col-md-12(style='margin-bottom: 12px;')
              h5 Description:
              textarea.form-control.ng-pristine.ng-untouched.ng-valid.ng-empty(rows='6', type='text', placeholder='Part description', ng-model='rbs.description')
            .col-md-6(style='margin-bottom: 12px;')
              .toolHec
                h5 Quantity: (µl)
                span.toolHecText Description about the constant
              input.ng-pristine.ng-untouched.ng-valid.ng-not-empty(type='number', placeholder='Quantity', ng-model='rbs.quantity')
            .col-md-6
              .toolHec
                h5 Category:
                span.toolHecText Description about the constant
              input.ng-pristine.ng-untouched.ng-valid.ng-empty(type='text', placeholder='Category', ng-model='rbs.category')
            .col-md-6
              .toolHec
                h5 Base pairs length (BP):
                span.toolHecText Description about the constant
              input.ng-pristine.ng-untouched.ng-valid.ng-not-empty(type='number', placeholder='LengthBP', ng-model='rbs.lengthBP')
      .modal-footer
        button.btn.btn--primary.type--uppercase(type='button', data-dismiss='modal' ng-click='createRbs()', style='color: white; font-weight: 900; min-width: 200px;') Create
